<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Название страницы</title>
</head>
<body>
<label>Введите необходимое количество юзеров:</label><br>
<form method="POST" action=".">
            <input name="counts" type="number">
            <button type="submit">Generate!!!</button>
        </form>

  <label>Сгенерированные имена:</label><br>

  {%for item in items%}
    {{item[0]}} - {{item[1]}}<br>
  {%endfor%}

</body>
</html>