<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Название страницы</title>
</head>
	Количество космонавтов в настоящий момент:
<body>


      {{result}} человек.
      <br>



</body>
</html>